<?xml version="1.0" encoding="windows-1252"?>
<!--

    Copyright 2008 WebPhotos

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties">
            <bean class="net.sf.webphotos.util.UtilFactoryBean" />
        </property>
    </bean>

    <bean id="acaoExcluirAlbum" class="net.sf.webphotos.action.AcaoExcluirAlbum">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="acaoDocumentListener" class="net.sf.webphotos.action.AcaoDocumentListener" />

    <bean id="popupMenu" class="net.sf.webphotos.gui.PopupMenu" />

    <bean id="acaoPopup" class="net.sf.webphotos.action.AcaoPopup">
        <constructor-arg index="0" ref="popupMenu" />
    </bean>

    <bean id="syncObject" class="net.sf.webphotos.sync.FTP.SyncObject" />

    <bean id="albunsDAO" class="net.sf.webphotos.dao.jpa.AlbumDAO" />
    <bean id="photosDAO" class="net.sf.webphotos.dao.jpa.PhotoDAO" />
    <bean id="categoryDAO" class="net.sf.webphotos.dao.jpa.CategoryDAO" />

    <aop:config>
        <aop:pointcut id="serviceMethods" 
                      expression="within(net.sf.webphotos.dao.jpa..*)"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="myTxManager">
        <tx:attributes>
            <tx:method name="save" propagation="REQUIRED" />
        </tx:attributes>
    </tx:advice>
    <tx:annotation-driven transaction-manager="myTxManager" mode="proxy" />
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="jse_webphotos_pu" />
        <property name="persistenceUnitManager" ref="persistenceUnitManager" />
    </bean>
    
    <bean id="dataSource"
       class="org.springframework.jdbc.datasource.DriverManagerDataSource"
       p:driverClassName="${jdbc.driver}" p:url="${jdbc.url}"/>

    
    <bean id="persistenceUnitManager"
          class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager"
          p:defaultDataSource-ref="dataSource">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath:META-INF/persistence.xml</value>
            </list>
        </property>
    </bean>
    
    <!-- JPA annotations bean post processor -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
    
    <!-- Exception translation bean post processor -->
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    <bean id="myTxManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

</beans>
